# OS files
.DS_Store
Thumbs.db

# Editors
/.idea/
/.vscode/

# Node / npm
.npm
/node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
build/
dist/
.venv/
venv/
